<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <title>KAMISMAX</title>
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


    <script>
    $(document).ready(function(){
        $("select").change(function(){
            $(this).find("option:selected").each(function(){
                var curriculum = $(this).attr("value");
                if(curriculum){
                    $(".type").not("." + curriculum).hide();
                    $("." + curriculum).show();
                } else{
                    $(".type").hide();
                }
            });
        }).change();
    });
    </script>
    <script>
      $(function(){  
          $("[data-toggle=popover]").popover({
              html : true,
              content: function() {
                  var content = $(this).attr("data-popover-content");
                  return $(content).children(".popover-body").html();
              },
              title: function() {
                  var title = $(this).attr("data-popover-content");
                  return $(title).children(".popover-heading").html();
              }
          });
      });
    </script>
    <script>
      $(function() {
        var outlink = $('#cta_btn');
        outlink.hide();
        $(window).scrol(function() {
          if($(this).scrollTop() > 600) {
            outlink.fadeIn();
          } else {
            outlink.fadeOut();
          }
        });
      });
    </script>
    <script>
      $(document).scroll(function () {
    var y = $(this).scrollTop();
    if (y > 800) {
        $('.bottomMenu').fadeIn();
    } else {
        $('.bottomMenu').fadeOut();
    }

    });
    </script>
    
    
    
</head>

<body>

    


  
    <div class="wrapper">
      <div class="bottomMenu text-center">
        
        <a href="#">会員登録は<br>こちら</a>
        
      </div>
      

      <section class="parallax-bg">
        <!-- <nav class="navbar">
          <a class="navbar-brand mx-3" href="#">
            <img src="assets/images/top-logo.png" alt="KAMISMAX" class="logo">
          </a>
        </nav> -->
        
        <div class="top-wrapper">
          <div class="top-title p-2">

            <video style="width:100%" controlslist="nodownload" muted autoplay loop playsinline controls>
              <source src="assets/images/intro-video.mp4" type="video/mp4">
            </video>
              <div class="main-logo">
                <h1 class="text-center"><span><img src="assets/images/kmax-logo@2x.png" alt="KAMISMAX" class="img-fluid"></span></h1>
              </div>
          
              <div class="text-space col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-10 offset-sm-1">
                <p class="text-center">一流美容師の技術や考え方が学べる<br>
                ”美容の世界”を変える動画配信サービス
                </p>
  
                
                
              </div>
  
              <!-- <div class="col-lg-8 offset-lg-2" style="aspect-ratio: 16/9; margin-bottom:3vh">
                <video style="width:100%" controlslist="nodownload" muted autoplay loop playsinline>
                  <source src="assets/images/intro-video.mp4" type="video/mp4">
                </video>
              </div> -->
          
          </div>
        </div>
      </section>
      
      <!-- 課題・会員登録の流れ -->
      
      <section class="section02 top py-5">
        <div class="info my-5" data-aos="fade-right">
          <p><span>オンライン</span>で学べる<span>一流</span>への道</p>
          <p>会員登録で<span>最大6日間</span>の<span>無料体験</span></p>
          <p>定額見放題で<span>24時間</span>繰り返し視聴可能</p>
          <p>今会員になれば<span>1,490円/月〜</span>で<span>学び放題</span></p>
          <a class="btn">
          <div class="kmx-register">
            会員登録はこちら
          </div>
        </a>
        </div>
      </section>
  
  
      <section class="section02 bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 text-area">
              <div class="inner text-center">
                <h4>スキルアップしたい方必見 !!</h4>
                <h5>一流の技術を学びたい</h5>
                <h5>時間を有効に使いたい</h5>
                <h5>モチベーションをアップさせたい</h5>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 video-iframe" data-aos="fade-up">
              <video controlslist="nodownload" muted autoplay loop playsinline>
                <source src="assets/images/video-1.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
      </section>

      <section class="section10">
        <div class="sect10-top-strip">
          <h2><span>【美容業界の動画配信市場】</span></h2>
        </div>
        <div class="container">
          <div class="col-lg-8 offset-lg-2" id="solution">
            <ul v-for="solution in solutions">
              <!-- <li>
              </li>
              <li>講師のキャスティングに魅力が欠けている
              </li>
              <li>エンターテイメント性が乏しい　
              </li>
              <li>動画の質（構成・カメラワーク等）が低い
              </li>
              <li>料金負担が大きい</li> -->
              <li data-aos="fade-up-right"><span>{{solution.id }}.</span> {{solution.text}}</li>
            </ul>
            
          </div>
  
         
        </div>
      </section>
  
      <section class="section09">
        
          
            <div class="sect09-sect text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('assets/images/kmx-img001.jpg');">
              <div class="overlay-text" id="tasks">
                <h3><span class="the-task">美容業界における教育の課題</span></h3>
                <p>　就職先以外に教育環境が広がらない</p>
                <p>働き方改革による、レッスン日の減少</p>
                <p>フリーランスの増加等、多様化する働き方</p>
                <p>就職に自身のスキルが活かされにくい</p>
                
              </div>
            </div>
            <div class="sect09-sect text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('assets/images/kmx-img002.jpg');">
              <div class="overlay-text">
                <h3><span class="the-japan">日本が持つ世界最高レベルの技術を<br class="br_on">教育の力で発信</span></h3>
                <!-- <p></h4> -->
                <p>オンライン教育動画配信サービス</p>
                <p>次代に向けた<span class="p-top">新しい教育環境</span>を提供する<br><span class="p-bottom">独自のプラットフォーム</span>を開発</p>
  
                <h5 class="my-5">それが…</h5>
  
                <h1 data-aos="fade-up-right" data-aos-duration="6000"><img src="assets/images/kmax-logo@2x.png" alt="KAMISMAX" class="img-fluid p-4"></h1>
              </div>
            </div>
          
          
          
        
      </section>
  
      
  
  
      <section class="section03">
        <div class="selling-point" id="points">
          <h1>KAMISMAXのこだわり</h1>
          <div class="main-points p-2">
            <div class="point card" data-aos="zoom-out-up" v-for="point in points">
              <h4 class="text-center">{{point.title}}</h4>
              <div class="card-body">
                <p>{{point.body}}</p>
              </div>
              <div class="card-image">
                <img :src="point.imgUrl" alt="KAMISMAX 画像" class="img-fluid"> 
              </div>   
            </div>
          </div>
        </div>
      </section>
      
      
        <section class="section04">
          
          <div class="columns-wrapper">
            <div class="column">
              <div class="container">
                <h4 class="text-center">特徴<span>１</span>豪華な出演者</h4>
              <h6>日本が世界に誇る一流の美容師・美容室<br>
                「カミカリスマ受賞した星を有する方々」<br>
                一流の技術と考え方<br>
                スキルとモチベーションを引き上げます
              </h6>
              <div class="sect-bottom mt-5">
                <img src="assets/images/charisma-stylists.png" alt="KAMISMA 美容師" width="100%">
              </div>
              </div>
            </div>
            <div class="column">
              <div class="container">
                <h4 class="text-center">特徴<span>２</span>豊富な番組カテゴリー</h4>
              <h6>技術動画をメインに<br class="br_on">
                  エンターテインメント性のある<br>
                  映像を豊富に配信
              </h6>
             
              
              <div class="categories gx-0 row" id="program">
                <div class="outer col-md-6 col-sm-9 mb-4" v-for="category in categories">
                  <div class="category row" data-aos="fade-up">
                    <!-- <div class="category-overlay"></div> -->
                    <div class="category-image col-3">
                      <img :src="category.imgUrl" alt="KAMISMAX" class="img-fluid">
                    </div>
                    <div class="category-text col-9">
                      <h5>{{category.title}}</h5>
                      <p>{{category.body}}</p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              
              
            </div>
            
          </div>
              
         
        </section>   
  
      <!-- <section class="section04">
        tekisuto
      </section> -->
      
  
      <section class="section06">
        <div class="container-fluid" id="videoEnvironment">
          <div class="text">
            <h4 class="text-center">特徴<span>３</span>優れた視聴環境</h4>
          </div>
          <div class="row">
            <div class="view-settings col-xl-3 col-lg-3 col-md-6 col-sm-6" v-for="image in pictureList" data-aos="fade-right">
              <div class="text-above">
                <p class="text-center">{{ image.text }}</p>
                <h6 class="text-center">{{ image.text2 }}</h6>
              </div>
              <img :src="image.imgUrl" :alt="image.alt" class="img-fluid">
            </div>
          </div>
        </div>
      </section>
      
      
      <!-- <section class="section07">
        <div class="container-fluid">
          <div class="text">
            <h4 class="text-center">特徴<span>４</span>豪華な出演者</h4>
          </div>
  
          <div class="container" id="tabletUp">
            <div class="row col-lg-10 offset-lg-1 col-sm-10 offset-sm-1 col-10 offset-1 pc-only">
              <div class="col-lg-4 col-md-4" v-for="image in images">
                <img :src="image.imgUrl" :alt="image.name" class="img-fluid">
              </div>
              
            </div>
            <div class="phone-only my-5">
            </div> 
  
            <div class="text text-center mt-5">
              <h5>履歴状況が一眼で分かるので、<br class="br_on_500">学習意欲を掻きたてます</h5>
              <p>視聴した動画はウォッチマークを表示</p>
              <h6>会員ランク・取得カリキュラム・検定試験など<br class="br_on_500">各ディプロマが続々と登場！</h6>
            </div>
            <div class="rank col-lg-8 offset-lg-2" id="rank">
              <h4 class="text-center">会員ランク</h4>
              <p class="smaller text-center">クリックすると詳細が見れます</p>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-6 mb-3 mx-auto" v-for="rank in rankings">
                  <div class="text-center">
                    <a data-html="true" data-placement="top" :data-popover-content="'#a'+rank.id" data-toggle="popover" data-trigger="focus" tabindex="0">
                      <img :src="rank.imgUrl" :alt="rank.name" class="img-fluid">
                    </a> 
                  </div>
                  
                  <div class="hidden d-none" :id="'a'+rank.id">
                    <div class="popover-heading">
                      {{rank.name}}
                    </div>
                  
                    <div class="popover-body">
                      <p>{{rank.body}}</p>
                    </div>
                  </div>
                </div>      
              </div>
            </div>
  
            
  
            <div class="curriculum col-lg-8 offset-lg-2 p-3">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 drop-select">
                  
                  <div class="field">
                    <h5 class="text-center p-2">取得カリキュラム</h5>
                    <p class="text-center p-2">洗濯してください <i class="fas fa-angle-down"></i></p>
                    
                    <select>
                        
                        <option value="color-tr-perm">COLOR/TREATMENT/PERM</option>
                        <option value="cut">CUT</option>
                        <option value="knowledge">KNOWLEDGE</option>
                        <option value="make-up">MAKE-UP</option>
                        <option value="other">OTHER</option>
                        <option value="special">SPECIAL</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 display-contents">
  
                  <div class="color-tr-perm type">
                    <div class="col-6 offset-3 stamp">`
                      <img src="assets/images/kmx-stamp-001-adv.png" alt="KAMISMAX Stamp" class="img-fluid">
                    </div>
                    <h6>COLOR/TR/PERM</h6>
                    <div class="inner-text">
                      <p>テキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト（120文字以下）
                      </p>
                    </div>
                  </div>
                  <div class="cut type">
                    <div class="col-6 offset-3 stamp">`
                      <img src="assets/images/kmx-stamp-002-adv.png" alt="KAMISMAX Stamp" class="img-fluid">
                    </div>
                    <h6>CUT</h6>
                    <div class="inner-text">
                      <p>テキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト（120文字以下）
                      </p>
                    </div>
                  </div>
                  <div class="knowledge type">
                    <div class="col-6 offset-3 stamp">`
                      <img src="assets/images/kmx-stamp-003-adv.png" alt="KAMISMAX Stamp" class="img-fluid">
                    </div>
                    <h6>KNOWLEDGE</h6>
                    <div class="inner-text">
                      <p>テキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト（120文字以下）
                      </p>
                    </div>
                  </div>
                  <div class="make-up type">
                    <div class="col-6 offset-3 stamp">`
                      <img src="assets/images/kmx-stamp-004-adv.png" alt="KAMISMAX Stamp" class="img-fluid">
                    </div>
                    <h6>MAKE-UP</h6>
                    <div class="inner-text">
                      <p>テキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト（120文字以下）
                      </p>
                    </div>
                  </div>
                  <div class="other type">
                    <div class="col-6 offset-3 stamp">`
                      <img src="assets/images/kmx-stamp-005.png" alt="KAMISMAX Stamp" class="img-fluid">
                    </div>
                    <h6>OTHER</h6>
                    <div class="inner-text">
                      <p>テキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト（120文字以下）
                      </p>
                    </div>
                  </div>
                  <div class="special type">
                    <div class="col-6 offset-3 stamp">`
                      <img src="assets/images/kmx-stamp-006.png" alt="KAMISMAX Stamp" class="img-fluid">
                    </div>
                    <h6>SPECIAL</h6>
                    <div class="inner-text">
                      <p>テキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト（120文字以下）
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
  
            </div>
  
            <div class="py-5 certificate col-lg-10 offset-lg-1 col-md-10 offset-md-1" id="stamps">
              <h4 class="text-center">認定試験</h4>
              <p class="text-center smaller">クリックすると詳細が見れます</p>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-8 mb-4 p-0 stamp" v-for="stamp in stampList">
                  
                  <a data-html="true" data-placement="top" 
                    :data-popover-content="'#b'+stamp.id" 
                     data-toggle="popover" 
                     data-trigger="focus" tabindex="0">
                     <img :src="stamp.imgUrl" alt="stamp.name" class="img-fluid">
                  </a>
                  <div class="hidden d-none" :id="'b'+stamp.id">
                    <div class="popover-heading">
                      {{stamp.name}}
                    </div>
                  
                    <div class="popover-body">
                      {{stamp.body}}
                    </div>
                  </div> 
                </div>
              </div>
            </div>
        </div>
      </section> -->
  
  
      <section class="section08 py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 my-auto">
              <div class="section08-text">
                <div class="text">
                  <h4>どのデバイスでも対応！<br>
                    スマホに対応しているので<br>
                    通勤や移動中にでも視聴可能！</h4>
                </div>
    
                <!-- <h5>通勤中に独学しちゃおう！</h5> -->
              </div>
            </div>
            <div class="col-lg-6">
              <!-- <img src="assets/images/kmx015.png" alt="KAMISMAX 画像" class="img-fluid"> -->
              <div class="video-iframe">
                <video muted playsinline controls controlslist><source src="assets/images/video-2.mp4" type="video/mp4"></video>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <section class="parallax-bg-bottom">
        <div class="logo">
          <h1><img src="assets/images/kmax-logo@2x.png" alt="KAMISMAX" class="img-fluid"></h1>
        </div>
        <div class="container">
          <h3 class="text-center"><span class="p-2">サービスプラン</span></h3>
          <h6 class="text-center my-5"><span class="p-3">サブスク一般会員　全ての番組が視聴可能</span></h6>
          <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 price flex" >
                <div class="price-t">
                  <h4>通常価格</h4>
                  <h5>月額 1,990円</h5>
                  <h6>年間 23,880円</h6>
                </div>
  
                <div class="price-b">
                  <h3>年間契約</h3>
                  <!-- <h5 class="white-out">（3年保証）</h5> -->
                  <h4>年額19,900円</h4>
                  <h6>1,658円/月〜</h6>
                  <p>年間契約で
                  ２ヶ月分がお得に！</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 price flex" >
                <div class="price-t">
                  <h4>OPEN記念価格</h4>
                  
                  <h5>月額 1,490円</h5>
                  <h6>年間 17,880円</h6>
                </div>
  
                <div class="price-b">
                  <h3>年間契約</h3>
                  <!-- <h5>（3年保証）</h5> -->
                  <h4>年額 14,900円</h4>
                  <h6>1,241円/月〜</h6>
                  <p>3年契約で
                  合計6ヶ月分がお得に！</p>
                </div>
              </div>
            </div>
            <h6 class="text-center my-5"><span class="p-2">まずは6日間無料体験でKAMISMAXの世界をご体感ください！</span></h6>
          </div>
        
        </div>
        <!-- <div id="cta_btn"><a href="#">登録はこちら</a></div> -->
        
        <footer>
          <div class="left">
            <ul class="p-0">
              <li><a href="https://www.invade.co.jp/about">会社概要</a></li>
              <li><a href="#">プライバシーポリシー</a></li>
            </ul>
          </div>
          <div class="middle">
            
          </div>
          <div class="right">
            All Rights Reserved &copy; INVADE Co., Ltd.
          </div>
        </footer>
  
       
      </section>
    </div>

    
      
  
    
    
  
</body>
<script src="assets/js/index.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</html>