<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->
  <script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
  <title>KAMISMAX</title>
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <script src="js/fade-in.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@2.4.0/dist/bootstrap-vue.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.15.0/dist/bootstrap-vue.min.css">
  <script>
    $(document).scroll(function () {
      var y = $(this).scrollTop();
      if (y > 800) {
        $('.bottomMenu').fadeIn();
      } else {
        $('.bottomMenu').fadeOut();
      }
    });
  </script>

</head>

<body>
  <div class="wrapper">
    <!-- Most of the information is in the js file -->
    <div class="bottomMenu text-center">
      <div class="sample">
        <a href="https://kamismax.kamisma.com/service2/">サンプル動画は<br>こちら</a>
      </div>
      <div class="register">
        <a href="https://kamismax.kamisma.com/login">会員登録は<br>こちら</a>
      </div>
    </div>
    <section class="parallax-bg">
      <div class="nav">
        <img src="assets/images/invade-logo-white.svg" alt="INVADE" height="70">
      </div>
      <div class="top-wrapper">
        <div class="top-title p-2">
          <video style="width:100%" controlslist="nodownload" muted autoplay loop playsinline controls>
            <source src="assets/images/intro-video.mp4" type="video/mp4">
          </video>
          <div class="main-logo">
            <h1 class="text-center"><span><img src="assets/images/kmax-logo@2x.png" alt="KAMISMAX"
                  class="img-fluid"></span></h1>
          </div>
          <div class="text-space col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-10 offset-sm-1">
            <p class="text-left ml-3">一流の技術と思考を<br class="br_on_500">あなたの手に！<br>
              ”美容の世界”を変える<br class="br_on_500">動画配信サービス
            </p>
            <!-- <img src="assets/images/kamismax-phone1.png" alt="KAMISMAX" class="img-fluid new-image-float"> -->
          </div>
          
        </div>
        <!-- <img src="assets/images/kamismax-phone1.png" alt="KAMISMAX" class="img-fluid float-image"> -->
   
      </div>
      <img src="assets/images/pic1-1.png" alt="KAMISMAX" class="img-fluid float-image">
      
    </section>
    
    <section class="section02 top py-5">
      <div class="info my-5" data-aos="fade-right">
        <p><span>オンライン</span>で学べる<span>一流</span>への道</p>
        <!-- <p><span>クーポンコード</span>で<span>１週間</span>の<span>無料体験</span></p> -->
        <p>定額見放題で<span>24時間</span>繰り返し視聴可能</p>
        <p>通常価格<span>月額1,990円</span></p>
        <p>今なら<span>月額1,490円</span>で<span>学び放題</span></p>
        <a href="https://kamismax.kamisma.com/login" class="btn">
          <div class="kmx-register">
            
            会員登録はこちら
          </div>
        </a>
      </div>
    </section>
    <section class="section02 bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 text-area">
            <div class="inner text-center">
              <h4>スキルアップしたい方必見 !!</h4>
              <h5>一流の技術を学びたい</h5>
              <h5>時間を有効に使いたい</h5>
              <h5>モチベーションをアップさせたい</h5>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 video-iframe" data-aos="fade-up">
            <video controlslist="nodownload" muted autoplay loop playsinline controls>
              <source src="assets/images/video-1.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </section>
 
    <section class="section09">
      <div class="sect09-sect text-center"
        style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('assets/images/kmx-img001.jpg');">
        <div class="overlay-text" id="tasks">
          <h3><span class="the-task">美容業界における教育の課題</span></h3>
          <p>働き方改革の流れで、レッスン日が短縮化</p>
          <p>新型コロナウイルスの影響で、</p>
          <p>セミナーやイベントが大幅に減少</p>
          <p>フリーランスの増加等、多様化する働き方</p>
          <h2><i class="fas fa-angle-double-down"></i></h2>
          <p>個人の自主性が求められる時代に</p>
        </div>
      </div>
    </section>
    <!-- <section class="section10">
      <div class="sect10-top-strip">
        <h2><span>【美容業界の動画配信市場】</span></h2>
      </div>
      <div class="container">
        <div class="col-lg-8 offset-lg-2" id="solution">
          <ul v-for="solution in solutions">
            <li data-aos="fade-up-right"><span>{{solution.id }}.</span> {{solution.text}}</li>
          </ul>
        </div>
        
      </div>
    </section> -->
    <section class="section09">
      <div class="sect09-sect text-center"
        style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('assets/images/kmx-img002.jpg');">
        <div class="overlay-text">
          <h3><span class="the-japan">日本が誇る世界最高レベルの技術を<br class="br_on_992">教育の力で発信</span></h3>
          <!-- <p></h4> -->
          <p>オンライン教育動画配信サービス</p>
          <p>次代に向けた<span class="p-top">新しい教育環境</span>を提供する<br><span class="p-bottom">独自のプラットフォーム</span>を開発</p>
          <h5 class="my-5">それが…</h5>
          <h1 data-aos="fade-up-right" data-aos-duration="6000"><img src="assets/images/kmax-logo@2x.png" alt="KAMISMAX"
              class="img-fluid p-4"></h1>
        </div>
      </div>
      
    </section>
    <section class="section03">
      <div class="selling-point" id="points">
        <h1>KAMISMAXのこだわり</h1>
        <div class="main-points p-2">
          <div class="point card" data-aos="zoom-out-up" v-for="point in points">
            <h4 class="text-center">{{point.title}}</h4>
            <div class="card-body">
              <p>{{point.body}}</p>
            </div>
            <div class="card-image">
              <img :src="point.imgUrl" alt="KAMISMAX 画像" class="img-fluid">
            </div>
          </div>
        </div>
        
      </div>
    </section>
    <section class="section13">
      <aside class="accordion">
        <h1>MENU (こちらをクリック)</h1>
        <div class="opened-for-codepen">
          <h2>カット技術を学ぶ</h2>
          <!-- ■ショートカットの基本技術をマスターする -->
          <div class="opened-for-codepen" id="cutMenu">
            <h3>■ショートカットの基本技術をマスターする</h3>
            <div>
              <section v-for="menu in menus">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
            
            <h3>■ショートカットのデザインをマスターする</h3>
            <div>
              <section v-for="menu in designMenus">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
            <h3>■ミディアムのカットを学習する</h3>
            <div>
              <section v-for="menu in mediumCuts">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>

            <h3>■ロングのカットを学習する</h3>
            <div>
              <section v-for="menu in longCuts">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>

            <h3>■カウンセリングを活かしたカット技術を学ぶ</h3>
            <div>
              <section v-for="menu in counselingCuts">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>

            <h3>■似合わせカットを学習する</h3>
            <div>
              <section v-for="menu in matchingCuts">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>

            <h3>■外国人風スタイルのカット技術を理解する</h3>
            <div>
              <section v-for="menu in fstyleCuts">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>

            <h3>■ニュースタンダードなカット技術を学習する</h3>
            <div>
              <section v-for="menu in newstandardCuts">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>

            <h3>■リアリティブなレイヤーカットを学ぶ</h3>
            <div>
              <section v-for="menu in layerCuts">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>

            <h3>■リアリティブなショートカットを学ぶ</h3>
            <div>
              <section v-for="menu in shortCuts">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>

            <h3>■フォルムコントロールを学ぶ</h3>
            <div>
              <section v-for="menu in formControls">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>

            <h3>■骨格を補正するカット技術を学ぶ</h3>
            <div>
              <section v-for="menu in structuralCuts">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>

            <h3>■メンズカットを学習する</h3>
            <div>
              <section v-for="menu in mensCuts">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>

            
            
          </div>
          
          <h2>カラー技術を学ぶ</h2>
          <div id="colorMenu">
            <h3>■ショートカットの基本技術をマスターする</h3>
            <div class="colorMenu">
              <section v-for="menu in colorTechniques">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
            <h3>■デザインカラーを学習する</h3>
            <div class="colorMenu">
              <section v-for="menu in designColors">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
            <h3>■ペール系の高明度カラーを学習する</h3>
            <div class="colorMenu">
              <section v-for="menu in paleColors">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
            <h3>■外国人風カラーを理解する</h3>
            <div class="colorMenu">
              <section v-for="menu in foreignerColors">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
          </div>

          <h2>パーマ技術を学ぶ</h2>
          <div id="permMenu">
            <h3>■パーマテクニックを学習する</h3>
            <div class="permMenu">
              <section v-for="menu in permTechniques">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
            <h3>■デジタルパーマを学習する</h3>
            <div class="permMenu">
              <section v-for="menu in digitalPerms">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
            <h3>■毛髪診断からデジタルパーマ提案を学習する</h3>
            <div class="permMenu">
              <section v-for="menu in checkupPermMenus">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
            <h3>■外国人風パーマを理解する</h3>
            <div class="permMenu">
              <section v-for="menu in foreignerPermMenus">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
            <h3>■メンズパーマを学習する</h3>
            <div class="permMenu">
              <section v-for="menu in mensPermMenus">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
          </div>

          <h2>ブロー技術を学ぶ</h2>
          <div id="blowMenu">
            <h3>■ブロー技術をマスターする</h3>
            <div class="blowMenu">
              <section v-for="menu in blowMenus">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
          </div>

          <h2>創作・撮影を学ぶ</h2>
          <div id="creativeMenu">
            <h3>■クリエイティブワークを理解する</h3>
            <div class="creativeMenu">
              <section v-for="menu in creativeMenus">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
          </div>

          <h2>メイク技術を学ぶ</h2>
          <div id="makeMenu">
            <h3>■撮影現場で通用するヘアメイクを学習する</h3>
            <div class="makeMenu">
              <section v-for="menu in locationMenus">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
            <h3>■サロンスタイルのヘアメイクを学習する</h3>
            <div class="makeMenu">
              <section v-for="menu in salonstyleMenus">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
          </div>

          <h2>考え方を学ぶ</h2>
          <div id="thoughtMenu">
            <h3>■クリエイティブワークを理解する</h3>
            <div class="thoughtMenu">
              <section v-for="menu in threeStarJobMenus">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
            <h3>■三つ星美容師のヒストリーを学ぶ</h3>
            <div class="thoughtMenu">
              <section v-for="menu in threeStarHistoryMenus">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
            <h3>■本音トークを楽しむ</h3>
            <div class="thoughtMenu">
              <section v-for="menu in realTalkMenus">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
          </div>

          
          <h2>マネジメントを学ぶ</h2>
          <div id="managementMenu">
            <h3>■サロンマネジメントを学ぶ</h3>
            <div class="managementMenu">
              <section v-for="menu in salonManagementMenus">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
            <h3>■セルフマネジメントを学ぶ</h3>
            <div class="managementMenu">
              <section v-for="menu in selfManagementMenus">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
          </div>

          <!-- <h2>メニュー名</h2>
          <div id="****Menu">
            <h3>下層メニュー名</h3>
            <div class="****Menu">
              <section v-for="menu in ****Menus">
                <h4><strong>{{menu.salon}}:</strong> {{menu.stylist}}</h4>
                <div class="desc">
                  <a v-bind:href="menu.url">
                    <img :src="menu.imgBefore" alt="ビフォア" class="img-fluid">
                    <img :src="menu.imgAfter" alt="After" class="img-fluid">
                    <br>
                    <strong>{{menu.id}}.</strong><span v-html="menu.text"></span><br>
                    <em>{{menu.stylist}}</em>
                  </a>
                </div>
              </section>
            </div>
          </div> -->
        </div>
        
       
        
      </aside>
      
    </section>
    
     
    <section class="section04">
      <div class="columns-wrapper">
        <div class="column">
          <div class="container">
            <h4 class="text-center">特徴<span>１</span>豪華な出演者</h4>
            <h6>一流の証・カミカリスマを受賞された<br>
              美容師・美容室を中心にキャスティング<br>
              こだわりの技術や考え方など<br>
              最前線のスキルを学びながら<br>
              モチベーションアップに繋げて頂けます。
            </h6>
            <div class="sect-bottom mt-5">
              <img src="assets/images/charisma-stylists-2.png" alt="KAMISMA 美容師" width="100%">
            </div>
          </div>
        </div>
        <div class="column">
          <div class="container">
            <h4 class="text-center">特徴<span>２</span>豊富な番組カテゴリー</h4>
            <h6>技術動画をメインに<br class="br_on">エンターテインメント性のある<br>映像を豊富に配信</h6>
            <div class="categories gx-0 row" id="program">
              <div class="outer col-md-6 col-sm-9 col-sm-10 mb-4" v-for="category in categories">
                <div class="category row" data-aos="fade-up">
                  <div class="category-image">
                    <img :src="category.imgUrl" alt="KAMISMAX">
                  </div>
                  <div class="category-text">
                    <h5 class="mt-2">{{category.title}}</h5>
                    <p>{{category.body}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section06">
      <div class="container-fluid" id="videoEnvironment">
        <div class="text">
          <h4 class="text-center"><em>最大の魅力 業界一の視聴環境</em></h4>
        </div>
        <div class="row">
          <div class="view-settings col-xl-3 col-lg-3 col-md-6 col-sm-6" v-for="image in pictureList"
            data-aos="fade-right">
            <div class="text-above">
              <p class="text-center">{{ image.text }}</p>
              <h6 class="text-center">{{ image.text2 }}</h6>
            </div>
            <img :src="image.imgUrl" :alt="image.alt" class="img-fluid">
          </div>
        </div>
        <div class="multi-angle col-lg-10 offset-lg-1 col-md-10 offset-md-1">
          <h4 class="text-center">*ここがポイント! 業界初の視聴環境</h4>
          <h6 class="text-center">色んな角度から見ることができる<br><strong>「マルチアングル」</strong><br class="br_on"> <em>×</em> <br class="br_on_500">圧倒的な映像クオリティの<strong>「4K」</strong></h6>
          <div class="description">
            <div class="row">
              <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 mt-5" v-for="text in texts">
                <p class="text-center mb-0">{{text.jptext}}</p>
                <img src="assets/images/kmx-ma004-multi.png" alt="Multi-angle" class="img-fluid">
                <p class="text-center t-bottom">業界初の新機能…教育動画の可能性を<br class="br_on">大幅に引き上げています！</p>
                
                <div class="row col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-6 offset-sm-3 col-8 offset-2">
                  <div class="col-4" v-for="view in views">
                    <img :src="view.thumbnail" class="img-fluid" :alt="view.type"></div class="col-3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section08 py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 my-auto">
            <div class="section08-text">
              <div class="text">
                <h4>デバイスは選びません！<br>
                  スマホに対応しているので<br>
                  通勤や移動中にでも視聴可能！</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="video-iframe">
              <video muted playsinline controls controlslist>
                <source src="assets/images/video-2.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="parallax-bg-bottom">
      <div class="logo">
        <h1><img src="assets/images/kmax-logo@2x.png" alt="KAMISMAX" class="img-fluid"></h1>
      </div>
      <div class="container">
        <h3 class="text-center"><span class="p-2">サービスプラン</span></h3>
        <h6 class="text-center my-5"><span class="p-3">サブスク会員　全ての番組が視聴可能</span></h6>
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12" id="offers">
          <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6 price flex">
              <div class="price-t">
                <h4>通常価格</h4>
                <h5>月額 1,990円</h5>
                <h6>年間 23,880円</h6>
              </div>
              <div class="price-b regular">
                <h3>年間契約</h3>
                <h4>年額19,900円</h4>
                <h6>(実質月額 1,658円)</h6>
                <hr>
                <!-- <p>&nbsp;</p> -->
                <p>&nbsp;<br>年間契約で２ヶ月分がお得に！<br>&nbsp;</p>

              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 price flex" data-aos="zoom-out-right" data-aos-duration="1000">
              <div class="price-t spec-t">
                <h4 class="glow">OPEN記念価格</h4>
                <h5 class="glow">月額 1,490円</h5>
                <h6 class="glow">年間 17,880円</h6>
              </div>
              <div class="price-b spec">
                <h3>年間契約</h3>
                <h4>年額 14,900円</h4>
                <h6>(実質月額 1,241円)
                </h6>
                <hr>
                <p><strong>お申し込み後、<br>２年間特別価格でご利用いただけます</strong><br><a data-toggle="modal" data-target="#priceModal">【詳しくはこちら】</a></p>

              </div>
            </div>

            <div class="modal fade" id="priceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <!-- <h5 class="modal-title" id="exampleModalLabel">OPEN記念価格</h5> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body price-modal-body">
                    <p>
                      今お申し込みいただくと、会員登録から２年間、特別価格でご利用いただくことができます。<br>
                      さらに３年目以降もご継続いただける場合、自動的に特別会員ランクとなり、
                    </p>
                    <p class="price-tag"><strong>月額:</strong> <span>1,490</span><em>円</em><br><strong>年額:</strong> <span>14,900</span><em>円</em></p>
                    <p>
                      特別価格のまま、引き続きご利用いただけます。
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <h6 class="text-center my-5"><span class="p-2">是非、KAMISMAXの世界をご堪能ください！</span></h6>
        </div>
      </div>
      <footer>
        <div class="left">
          <ul class="p-0">
            <li><a href="https://www.invade.co.jp/about">会社概要</a></li>
            <li><a href="https://kamismax..kamisma.com/policy">プライバシーポリシー</a></li>
          </ul>
        </div>
        <div class="middle">
        </div>
        <div class="right">
          All Rights Reserved &copy; INVADE Co., Ltd.
        </div>
      </footer>
    </section>
  </div>
</body>
<script src="assets/js/index.js"></script>
<script src="assets/js/test.js"></script>
<script src="assets/js/cut.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<!-- <script>
  $(document).ready(function () {
    $('.accordion-title').click(function () {
        if ($(this).hasClass('active')) {
            $(this).removeClass('active').next('.accordion-content').slideUp();
        } else {
            $(this).siblings('.accordion-title').removeClass('active');
            var $ct = $(this).siblings('.accordion-content').slideUp();
            $ct.find('.accordion-title.active').removeClass('active');
            $ct.find('.accordion-content').slideUp();
            $(this).addClass('active').next('.accordion-content').slideDown();
        }
    });
});
</script> -->

<script src="assets/js/test1.js"></script>
<script src="assets/js/app2.js"></script>
<script src="assets/js/app3.js"></script>
<script src="assets/js/color.js"></script>
<script src="assets/js/perm.js"></script>
<script src="assets/js/blow.js"></script>
<script src="assets/js/creative.js"></script>
<script src="assets/js/make.js"></script>
<script src="assets/js/thought.js"></script>
<script src="assets/js/management.js"></script>

<script>
  var headers = ["H1","H2","H3","H4","H5","H6"];

$(".accordion").click(function(e) {
  var target = e.target,
      name = target.nodeName.toUpperCase();
  
  if($.inArray(name,headers) > -1) {
    var subItem = $(target).next();
    
    //slideUp all elements (except target) at current depth or greater
    var depth = $(subItem).parents().length;
    var allAtDepth = $(".accordion p, .accordion div").filter(function() {
      if($(this).parents().length >= depth && this !== subItem.get(0)) {
        return true; 
      }
    });
    $(allAtDepth).slideUp("fast");
    
    //slideToggle target content and adjust bottom border if necessary
    subItem.slideToggle("fast",function() {
        $(".accordion :visible:last").css("border-radius","0 0 10px 10px");
    });
    $(target).css({"border-bottom-right-radius":"0", "border-bottom-left-radius":"0"});
  }
});
</script>

</html>
